*/.DS_Store
sqls/**/*.sql*
ozone/
.DS_Store
senaite/senaite-data/*
!senaite/senaite-data/importdata/
!senaite/senaite-data/oidc/
__pycache__
# Ignore the docker-compose.override.yml file
docker-compose.override.*
*.env
!.env
ozone-distro-demo
*.ozone-distro-demo.zip
*.zip

