version: "3.7"

services:
  create-backup-folder:
    image: busybox:latest
    command: ["sh", "-c", "mkdir -p /mnt/$$BACKUP_FOLDER"]
    environment:
      BACKUP_FOLDER: ${BACKUP_FOLDER}
    volumes:
      - "${BACKUP_PATH:-backup-path}:/mnt"
  #
  # MySQL backups
  #
  openmrs-db-backup:
    image: mekomsolutions/mysql_backup:48d0823
    depends_on:
      create-backup-folder:
        condition: service_completed_successfully
    environment:
      DB_HOST: mysql
      DB_NAME: openmrs
      DB_USERNAME: ${OPENMRS_DB_USER}
      DB_PASSWORD: ${OPENMRS_DB_PASSWORD}
      BACKUP_PATH: "/opt/backup/${BACKUP_FOLDER}"
    networks:
      ozone:
        aliases:
          - openmrs-db-backup
    volumes:
      - "${BACKUP_PATH:-backup-path}:/opt/backup/"

  eip-client-backup:
    image: mekomsolutions/mysql_backup:48d0823
    depends_on:
      create-backup-folder:
        condition: service_completed_successfully
    environment:
      DB_HOST: mysql
      DB_NAME: ${EIP_DB_NAME}
      DB_USERNAME: ${EIP_DB_USER}
      DB_PASSWORD: ${EIP_DB_PASSWORD}
      BACKUP_PATH: "/opt/backup/${BACKUP_FOLDER}"
    networks:
      ozone:
        aliases:
          - openmrs-db-backup
    volumes:
      - "${BACKUP_PATH:-backup-path}:/opt/backup/"

  #
  # PostgreSQL backpus
  #
  odoo-db-backup:
    depends_on:
      create-backup-folder:
        condition: service_completed_successfully
    image: mekomsolutions/postgres_backup:48d0823
    environment:
      DB_HOST: postgresql
      DB_NAME: odoo
      DB_USERNAME: ${ODOO_DB_USER}
      DB_PASSWORD: ${ODOO_DB_PASSWORD}
      DB_PORT: 5432
      BACKUP_PATH: "/opt/backup/${BACKUP_FOLDER}"
    networks:
      ozone:
        aliases:
          - odoo-db-backup
    volumes:
      - "${BACKUP_PATH:-backup-path}:/opt/backup/"

  odoo-filestore-backup:
    depends_on:
      create-backup-folder:
        condition: service_completed_successfully
    image: mekomsolutions/filestore_backup:48d0823
    environment:
      FILESTORE_PATH: /mnt/odoo
      BACKUP_PATH: "/opt/backup/${BACKUP_FOLDER}"
      FILENAME: odoo-filestore
    volumes:
      - "${BACKUP_PATH:-backup-path}:/opt/backup/"
      - ${ODOO_FILESTORE:-odoo-filestore}:/mnt/odoo

  odoo-checksum-backup:
    depends_on:
      create-backup-folder:
        condition: service_completed_successfully
    image: mekomsolutions/filestore_backup:48d0823
    environment:
      FILESTORE_PATH: /mnt/odoo_config_checksum
      BACKUP_PATH: "/opt/backup/${BACKUP_FOLDER}"
      FILENAME: odoo-checksum
    volumes:
      - "${BACKUP_PATH:-backup-path}:/opt/backup/"
      - "${ODOO_CONFIG_CHECKSUM_PATH:-odoo-checksums}:/mnt/odoo_config_checksum"

  openmrs-checksum-backup:
    image: mekomsolutions/filestore_backup:48d0823
    depends_on:
      create-backup-folder:
        condition: service_completed_successfully
    environment:
      FILESTORE_PATH: /mnt/openmrs_config_checksum
      BACKUP_PATH: "/opt/backup/${BACKUP_FOLDER}"
      FILENAME: openmrs-checksum
    volumes:
      - "${BACKUP_PATH:-backup-path}:/opt/backup/"
      - "${OPENMRS_CONFIG_CHECKSUMS_PATH:-openmrs-config-checksums}:/mnt/openmrs_config_checksum"

volumes:
  backup-path: ~
  odoo-filestore: ~
  openmrs-data: ~
  odoo-checksums: ~
  openmrs-config-checksums: ~

networks:
  ozone:
