services:
  #Odoo OpenELIS Integration
  eip-odoo-openelis:
    image: mekomsolutions/eip-client
    environment:
      EIP_ODOO_FHIR_URL: ${EIP_ODOO_FHIR_SERVER_URL}
      EIP_ODOO_FHIR_USERNAME: ${ODOO_USER}
      EIP_ODOO_FHIR_PASSWORD: ${ODOO_PASSWORD}
      EIP_OPENLIS_URL: http://fhir.openelis.org:8080
      EIP_SUBSCRIPTION_ENDPOINT: ${EIP_ODOO_FHIR_SERVER_URL}/odoo/fhir/R4
      EIP_SYNC_TASK_LAST_RUN_TS_FILE: /eip-client/sync_timestamps.txt
      EIP_LOG_LEVEL: ${EIP_ODOO_OPENELIS_LOG_LEVEL:-INFO}
      EIP_SYNC_TASK_INITIAL_DELAY: ${EIP_SYNC_TASK_INITIAL_DELAY}
      EIP_SYNC_TASK_DELAY: ${EIP_SYNC_TASK_DELAY}
    depends_on:
      fhir-odoo:
        condition: service_started
      fhir.openelis.org:
        condition: service_started
    volumes:
      - "${EIP_ODOO_OPENELIS_ROUTES_PATH}:/eip-client/routes"
      - "${EIP_SYNC_TASK_LAST_RUN_TS_FILE}:/eip-client/sync_timestamps.txt"
    networks:
      web:
      ozone:
        aliases:
          - eip-odoo-openelis
