services:

  senaite:
    image: mekomsolutions/senaite-sso
    restart: unless-stopped
    environment:
      - OAUTH_CONFIG_FILE=/data/oidc/client.json
    volumes:
      - ${SENAITE_OIDC_CONFIG_PATH}/:/data/oidc
