services:

  # Odoo - OpenMRS integration service
  eip-odoo-openmrs:
    depends_on:
      env-substitution:
        condition: service_completed_successfully
      openmrs:
        condition: service_healthy
      mysql:
        condition: service_started
      odoo:
        condition: service_started
    environment:
      - EIP_DB_NAME_ODOO=${EIP_DB_NAME_ODOO}
      - EIP_DB_USER_ODOO=${EIP_DB_USER_ODOO}
      - EIP_DB_PASSWORD_ODOO=${EIP_DB_PASSWORD_ODOO}
      - ODOO_DATABASE=${ODOO_DATABASE}
      - ODOO_USER=${ODOO_USER}
      - ODOO_PASSWORD=${ODOO_PASSWORD}
      - ODOO_URL=http://odoo:8069
      - OPENMRS_URL=http://openmrs:8080/openmrs
      - EIP_PROFILE=prod
      - MYSQL_ADMIN_USER=root
      - MYSQL_ADMIN_USER_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - OPENMRS_DB_HOST=${OPENMRS_DB_HOST}
      - OPENMRS_DB_PORT=${OPENMRS_DB_PORT}
      - OPENMRS_DB_NAME=${OPENMRS_DB_NAME}
      - OPENMRS_DB_USER=${OPENMRS_DB_USER}
      - OPENMRS_DB_PASSWORD=${OPENMRS_DB_PASSWORD}
      - OPENMRS_USER=${OPENMRS_USER}
      - OPENMRS_PASSWORD=${OPENMRS_PASSWORD}
      - EIP_FHIR_RESOURCES=Patient,ServiceRequest,MedicationRequest
      - EIP_FHIR_SERVER_URL=http://openmrs:8080/openmrs/ws/fhir2/R4
      - EIP_FHIR_USERNAME=${OPENMRS_USER}
      - EIP_FHIR_PASSWORD=${OPENMRS_PASSWORD}
      - EIP_TEST_ORDER_TYPE_UUID=${EIP_TEST_ORDER_TYPE_UUID}
      - EIP_ODOO_FHIR_SERVER_URL=${EIP_ODOO_FHIR_SERVER_URL}
      - EIP_ODOO_FHIR_USERNAME=${ODOO_USER}
      - EIP_ODOO_FHIR_PASSWORD=${ODOO_PASSWORD}
      - EIP_PRODUCT_SYNC_INITIAL_DELAY=${EIP_PRODUCT_SYNC_INITIAL_DELAY}
      - EIP_PRODUCT_SYNC_DELAY=${EIP_PRODUCT_SYNC_DELAY}
    image: mekomsolutions/eip-client
    networks:
      ozone:
        aliases:
          - eip-client-odoo
          - eip-odoo-openmrs
    restart: unless-stopped
    volumes:
      - "${EIP_ODOO_OPENMRS_ROUTES_PATH}:/eip-client/routes"
      - eip-home-odoo:/eip-home

  mysql:
    environment:
      EIP_DB_NAME_ODOO: ${EIP_DB_NAME_ODOO}
      EIP_DB_USER_ODOO: ${EIP_DB_USER_ODOO}
      EIP_DB_PASSWORD_ODOO: ${EIP_DB_PASSWORD_ODOO}
    volumes:
      - "${SQL_SCRIPTS_PATH}/mysql/eip-odoo-openmrs:/docker-entrypoint-initdb.d/db/eip-odoo-openmrs"

volumes:
  eip-home-odoo: ~
