services:
  orthanc:
    command: /run/secrets/
    secrets:
      - orthanc.json # CAUTION: This is an experimental implementation, not for production use.
    image: mekomsolutions/orthanc:1.0-0.1.0
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.orthanc.loadbalancer.server.port=8042"
      - "traefik.http.routers.orthanc.rule=Host(`${ORTHANC_HOSTNAME}`)"
    platform: linux/amd64
    restart: always
    environment:
      - ORTHANC_NAME=Orthanc
      - ORTHANC_AUTHENTICATION=keycloak
      - KEYCLOAK_REALM=orthanc
      - KEYCLOAK_CLIENT_ID=orthanc
    volumes:
      - orthanc-db:/var/lib/orthanc/db
    networks:
      web:
      ozone:
        aliases:
         - orthanc
    ports:
    - "8889:8042"

  mysql:
    volumes:
      - "${SQL_SCRIPTS_PATH}/mysql/eip-openmrs-orthanc:/docker-entrypoint-initdb.d/db/eip-openmrs-orthanc"

  env-substitution:
    environment:
      - ORTHANC_PUBLIC_URL=${SERVER_SCHEME}://${ORTHANC_HOSTNAME}

secrets:
  orthanc.json:
    file: ${ORTHANC_CONFIG_PATH}/orthanc.json # CAUTION: This is an experimental implementation, not for production use.

volumes:
  orthanc-db:
