services:

  # SENAITE
  senaite:
    depends_on: 
      env-substitution:
        condition: service_completed_successfully
      postgresql:
        condition: service_healthy
    environment: 
      - SITE=${SITE}
      - PASSWORD=${SENAITE_ADMIN_PASSWORD}
      - RELSTORAGE_ADAPTER_OPTIONS=type postgresql,dsn dbname='${SENAITE_DB_NAME}' user='${SENAITE_DB_USER}' password='${SENAITE_DB_PASSWORD}' host='${SENAITE_DB_HOST}', driver pg8000
      - RELSTORAGE_KEEP_HISTORY=false
      - RELSTORAGE_BLOB_DIR=/home/senaite/senaitelims/blobstorage
      - ADMIN_USER=${SENAITE_ADMIN_USER}
      - ADMIN_PASSWORD=${SENAITE_ADMIN_PASSWORD}
    image: mekomsolutions/senaite
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.senaite.loadbalancer.server.port=8080"
      - "traefik.http.routers.senaite.rule=Host(`${SENAITE_HOSTNAME}`)"
      - "traefik.http.routers.senaite.middlewares=senaite"
      - "traefik.http.middlewares.senaite.addprefix.prefix=/VirtualHostBase/https/${SENAITE_HOSTNAME}/senaite/VirtualHostRoot"
    networks:
      ozone:
        aliases:
          - senaite
      web:
    restart: unless-stopped
    volumes:
      - ${SENAITE_CONFIG_PATH}:/data/importdata/senaite
      - ${SENAITE_BLOBSTORAGE_PATH:-senaite-blobstorage}:/home/senaite/senaitelims/blobstorage

 
  postgresql:
    environment:
      SENAITE_DB_NAME: ${SENAITE_DB_NAME}
      SENAITE_DB_USER: ${SENAITE_DB_USER}
      SENAITE_DB_PASSWORD: ${SENAITE_DB_PASSWORD}
    volumes:
      - "${SQL_SCRIPTS_PATH}/postgresql/senaite:/docker-entrypoint-initdb.d/db/senaite"
    
  env-substitution:
    environment:
      - SENAITE_PUBLIC_URL=${SERVER_SCHEME}://${SENAITE_HOSTNAME}

volumes:
  eip-home-senaite: ~
  senaite-blobstorage: ~
  senaite-filestorage: ~
