services:
  certs:
    image: itechuw/certgen:main
    platform: linux/amd64
    restart: on-failure
    environment:
      - KEYSTORE_PW="kspass"
      - TRUSTSTORE_PW="tspass"
    networks:
      - ozone
    volumes:
      - "${OPENELIS_TRUST_STORE:-key_trust-store-volume}:/etc/openelis-global"
      - "${OPENELIS_KEYS:-keys-vol}:/etc/ssl/private/"
      - "${OPENELIS_CERTS:-certs-vol}:/etc/ssl/certs/"

  oe.openelis.org:
    image: itechuw/openelis-global-2:3.2.1.1
    platform: linux/amd64
    depends_on:
      - postgresql
      - certs
      - env-substitution
    restart: always
    networks:
      ozone:
      web:
    environment:
      DEFAULT_PW: ${OPENELIS_DEFAULT_PASSWORD}
      TZ: America/New_York
      CATALINA_OPTS: "-Ddatasource.url=jdbc:postgresql://${OPENELIS_DB_HOST}:5432/${OPENELIS_DB_NAME} -Ddatasource.username=${OPENELIS_DB_USER} -Ddatasource.password=${OPENELIS_DB_PASSWORD} -Doe.ssl.truststorepath=${SSL_TRUSTSTORE_PATH} -Doe.ssl.truststorepassword=${SSL_TRUSTSTORE_PASSWORD} -Doe.ssl.keystorepath=${SSL_KEYSTORE_PATH} -Doe.ssl.keystorepassword=${SSL_KEYSTORE_PASSWORD}"
      SSL_KEYSTORE_PATH: ${SSL_KEYSTORE_PATH}
      SSL_KEYSTORE_PASSWORD: ${SSL_KEYSTORE_PASSWORD}
      SSL_TRUSTSTORE_PATH: ${SSL_TRUSTSTORE_PATH}
      SSL_TRUSTSTORE_PASSWORD: ${SSL_TRUSTSTORE_PASSWORD}
    volumes:
      - "${OPENELIS_TRUST_STORE:-key_trust-store-volume}:/etc/openelis-global"
      - "${OPENELIS_CONFIG_PATH}/plugins/:/var/lib/openelis-global/plugins"
      - "${OPENELIS_CONFIG_PATH}/properties/SystemConfiguration.properties:/var/lib/openelis-global/properties/SystemConfiguration.properties"
      - "${OPENELIS_CONFIG_PATH}/analyzer/analyzer-test-map.csv:/var/lib/openelis-global/analyzer/analyzer-test-map.csv"
      - "${OPENELIS_CONFIG_PATH}/odoo/odoo-test-product-mapping.csv:/var/lib/openelis-global/odoo/odoo-test-product-mapping.csv"
      - "${OPENELIS_CONFIG_PATH}/ocl:/var/lib/openelis-global/ocl"
      - "${OPENELIS_LUCENE_INDEX:-lucene_index-vol}:/var/lib/lucene_index"
    secrets:
      - source: common.properties

  fhir.openelis.org:
    image: itechuw/openelis-global-2-fhir:3.2.1.1
    platform: linux/amd64
    depends_on:
      - postgresql
      - certs
    ports:
      - "9092:8080"
    networks:
      ozone:
      web:
    restart: always
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.fhir.rule=Host(`${FHIR_OPENELIS_HOSTNAME}`)"
      - "traefik.http.routers.fhir.entrypoints=websecure"
      - "traefik.http.services.fhir.loadbalancer.server.port=8080"
    environment:
      TZ: America/New_York
      JAVA_OPTS: "-Djavax.net.ssl.trustStore=${SSL_TRUSTSTORE_PATH}
                      -Djavax.net.ssl.trustStorePassword=${SSL_TRUSTSTORE_PASSWORD}
                      -Djavax.net.ssl.trustStoreType=pkcs12
                      -Djavax.net.ssl.keyStore=${SSL_KEYSTORE_PATH}
                      -Djavax.net.ssl.keyStorePassword=${SSL_KEYSTORE_PASSWORD}
                      -Djavax.net.ssl.keyStoreType=pkcs12"
      CATALINA_OPTS: "-Dhapi.ssl.truststorepath=${SSL_TRUSTSTORE_PATH} -Dhapi.ssl.truststorepassword=${SSL_TRUSTSTORE_PASSWORD} -Dhapi.ssl.keystorepath=${SSL_KEYSTORE_PATH} -Dhapi.ssl.keystorepassword=${SSL_KEYSTORE_PASSWORD}"
      FHIR_DATASOURCE_URL: "jdbc:postgresql://${OPENELIS_DB_HOST}:5432/${OPENELIS_DB_NAME}?currentSchema=${OPENELIS_DB_SCHEMA}"
      FHIR_DATASOURCE_USERNAME: ${OPENELIS_DB_USER}
      FHIR_DATASOURCE_PASSWORD: ${OPENELIS_DB_PASSWORD}
      FHIR_SERVER_ADRESS: "http://${FHIR_OPENELIS_HOSTNAME}/fhir/"
    volumes:
      - "${OPENELIS_TRUST_STORE:-key_trust-store-volume}:/etc/openelis-global"
      - "./openelis/tomcat/hapi_server.xml:/opt/bitnami/tomcat/conf/server.xml"

  oe-proxy:
    image: nginx:1.15-alpine
    ports:
      - "${OE_PROXY_PUBLIC_PORT:-80}:80"
      - "${OE_PROXY_SSL_PUBLIC_PORT:-443}:443"
    volumes:
      - certs-vol:/etc/nginx/certs/
      - keys-vol:/etc/nginx/keys/
      - ./proxy/openelis/nginx.conf:/etc/nginx/nginx.conf:ro
    restart: unless-stopped
    networks:
      - web
      - ozone
    depends_on:
      - certs
      - oe.openelis.org
    labels:
      traefik.enable: "true"
      traefik.http.routers.openelis.rule: "Host(`${OPENELIS_HOSTNAME}`)"
      traefik.http.routers.openelis.entrypoints: "websecure"
      traefik.http.services.openelis.loadbalancer.server.port: 80

  frontend.openelis.org:
    image: itechuw/openelis-global-2-frontend:3.2.1.1
    platform: linux/amd64
    networks:
      ozone:
      web:
    environment:
      - CHOKIDAR_USEPOLLING=true
    tty: true

  env-substitution:
    environment:
      - OPENELIS_FHIR_PUBLIC_URL=${SERVER_SCHEME}://${FHIR_OPENELIS_HOSTNAME}
      - ENABLE_SSO=${ENABLE_SSO}

  postgresql:
    environment:
      OPENELIS_DB_NAME: ${OPENELIS_DB_NAME}
      OPENELIS_DB_SCHEMA: ${OPENELIS_DB_SCHEMA}
      OPENELIS_DB_USER: ${OPENELIS_DB_USER}
      OPENELIS_DB_PASSWORD: ${OPENELIS_DB_PASSWORD}
      OPENELIS_DB_ADMIN_PASSWORD: ${OPENELIS_DB_ADMIN_PASSWORD}
    volumes:
      - "${SQL_SCRIPTS_PATH}/postgresql/openelis:/docker-entrypoint-initdb.d/db/openelis"

secrets:
  common.properties:
    file: "${OPENELIS_CONFIG_PATH}/properties/common.properties"

volumes:
  db-data: ~
  key_trust-store-volume: ~
  certs-vol: ~
  keys-vol: ~
  lucene_index-vol: ~
