services:
  certs:
    container_name: oe-certs
    image: itechuw/certgen:main
    platform: linux/amd64
    restart: always
    environment:
      - KEYSTORE_PW="kspass"
      - TRUSTSTORE_PW="tspass"
    networks:
      - ozone
    volumes:
      - "${OPENELIS_TRUST_STORE:-key_trust-store-volume}:/etc/openelis-global"
      - "${OPENELIS_KEYS:-keys-vol}:/etc/ssl/private/"
      - "${OPENELIS_CERTS:-certs-vol}:/etc/ssl/certs/"

  db.openelis.org:
    container_name: openelisglobal-database
    image: itechuw/openelis-global-2-database:develop
    platform: linux/amd64
    ports:
      - "15432:5432"
    restart: always
    env_file:
      - "${OPENELIS_CONFIG_PATH}/database/database.env"
    environment:
      - DB_PASSWORD=${OE_DB_PASSWORD}
      - DB_SUPERUSER_PASSWORD=${ADMIN_PASSWORD}
    volumes:
      # preserves the database between containers
      - "${OPENELIS_CONFIG_PATH}/database/data:/var/lib/postgresql/data"
    networks:
      - ozone
    healthcheck:
      test: [ "CMD", "pg_isready", "-q", "-d", "clinlims", "-U", "clinlims" ]
      timeout: 45s
      interval: 10s
      retries: 10

  oe.openelis.org:
    container_name: openelisglobal-webapp
    image: itechuw/openelis-global-2:develop
    platform: linux/amd64
    depends_on:
      - db.openelis.org
      - certs
    ports:
      - "8085:8080"
      - "8443:8443"
    restart: always
    networks:
      ozone:
      web:
    environment:
      - DEFAULT_PW=adminADMIN!
      - TZ=America/New_York
      # Config variables loaded through Tomacat server.xml
      - CATALINA_OPTS= -Ddatasource.url=jdbc:postgresql://db.openelis.org:5432/clinlims -Ddatasource.username=clinlims -Ddatasource.password=${OE_DB_PASSWORD} -Doe.ssl.truststorepath=${SSL_TRUSTSTORE_PATH} -Doe.ssl.truststorepassword=${SSL_TRUSTSTORE_PASSWORD} -Doe.ssl.keystorepath=${SSL_KEYSTORE_PATH} -Doe.ssl.keystorepassword=${SSL_KEYSTORE_PASSWORD}
      # Env variables passed to the common properties file
      - SSL_KEYSTORE_PATH
      - SSL_KEYSTORE_PASSWORD
      - SSL_TRUSTSTORE_PATH
      - SSL_TRUSTSTORE_PASSWORD
    volumes:
      - "${OPENELIS_TRUST_STORE:-key_trust-store-volume}:/etc/openelis-global"
      - "${OPENELIS_CONFIG_PATH}/plugins/:/var/lib/openelis-global/plugins"
      - "${OPENELIS_CONFIG_PATH}/properties/SystemConfiguration.properties:/var/lib/openelis-global/properties/SystemConfiguration.properties"
      - "${OPENELIS_CONFIG_PATH}/analyzer/analyzer-test-map.csv:/var/lib/openelis-global/analyzer/analyzer-test-map.csv"
      - "${OPENELIS_CONFIG_PATH}/odoo/odoo-test-product-mapping.csv:/var/lib/openelis-global/odoo/odoo-test-product-mapping.csv"
      - "${OPENELIS_CONFIG_PATH}/ocl:/var/lib/openelis-global/ocl"
      - "${OPENELIS_LUCENE_INDEX:-lucene_index-vol}:/var/lib/lucene_index"
    secrets:
      - source: common.properties

  fhir.openelis.org:
    container_name: external-fhir-api
    image: itechuw/openelis-global-2-fhir:develop
    platform: linux/amd64
    ports:
      - "8086:8080"
      - "8444:8443"
    depends_on:
      - db.openelis.org
      - certs
    networks:
      ozone:
      web:
    restart: always
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.fhir.rule=Host(`${FHIR_OPENELIS_HOSTNAME}`)"
      - "traefik.http.routers.fhir.entrypoints=websecure"
      - "traefik.http.services.fhir.loadbalancer.server.port=8080"
    environment:
      TZ: America/New_York

      JAVA_OPTS: "-Djavax.net.ssl.trustStore=${SSL_TRUSTSTORE_PATH}
                      -Djavax.net.ssl.trustStorePassword=${SSL_TRUSTSTORE_PASSWORD}
                      -Djavax.net.ssl.trustStoreType=pkcs12
                      -Djavax.net.ssl.keyStore=${SSL_KEYSTORE_PATH}
                      -Djavax.net.ssl.keyStorePassword=${SSL_KEYSTORE_PASSWORD}
                      -Djavax.net.ssl.keyStoreType=pkcs12"
      # Config variables loaded through Tomacat server.xml
      CATALINA_OPTS: "-Dhapi.ssl.truststorepath=${SSL_TRUSTSTORE_PATH} -Dhapi.ssl.truststorepassword=${SSL_TRUSTSTORE_PASSWORD} -Dhapi.ssl.keystorepath=${SSL_KEYSTORE_PATH} -Dhapi.ssl.keystorepassword=${SSL_KEYSTORE_PASSWORD}"
      # Config variables loaded through Hapi application.yml
      FHIR_DATASOURCE_URL: "jdbc:postgresql://db.openelis.org:5432/clinlims?currentSchema=clinlims"
      FHIR_DATASOURCE_USERNAME: "clinlims"
      FHIR_DATASOURCE_PASSWORD: ${OE_DB_PASSWORD}
      FHIR_SERVER_ADRESS: "http://fhir.openelis.org:8080/fhir/"
    volumes:
      - "${OPENELIS_TRUST_STORE:-key_trust-store-volume}:/etc/openelis-global"

  proxy:
    image: nginx:1.15-alpine
    container_name: openelisglobal-proxy
    networks:
      ozone:
      web:
    volumes:
      - "./proxy/openelis/nginx.conf:/etc/nginx/nginx.conf:ro"
    labels:
      traefik.enable: "true"
      traefik.http.routers.openelis.rule: "Host(`${OPENELIS_HOSTNAME}`)"
      traefik.http.routers.openelis.entrypoints: "websecure"
      traefik.http.services.openelis.loadbalancer.server.port: 80

  frontend.openelis.org:
    image: itechuw/openelis-global-2-frontend:develop
    container_name: openelisglobal-front-end
    platform: linux/amd64
    networks:
      ozone:
      web:
    environment:
      - CHOKIDAR_USEPOLLING=true
    tty: true

  autoheal:
    container_name: autoheal-oe
    image: willfarrell/autoheal:1.2.0
    tty: true
    restart: always
    networks:
      - ozone
    environment:
      AUTOHEAL_CONTAINER_LABEL: all
      TZ: America/New_York
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"

  env-substitution:
    environment:
      - OPENELIS_PUBLIC_URL=https://${HOST_NAME}

secrets:
  common.properties:
    file: "${OPENELIS_CONFIG_PATH}/properties/common.properties"

volumes:
  db-data: ~
  key_trust-store-volume: ~
  certs-vol: ~
  keys-vol: ~
  lucene_index-vol: ~
