services:

  # SENAITE
  senaite:
    depends_on: 
      env-substitution:
        condition: service_completed_successfully
    environment: 
      - SITE=${SITE}
      - ADMIN_USER=${SENAITE_ADMIN_USER}
      - ADMIN_PASSWORD=${SENAITE_ADMIN_PASSWORD}
    image: mekomsolutions/senaite:latest
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.senaite.loadbalancer.server.port=8080"
      - "traefik.http.routers.senaite.rule=Host(`${SENAITE_HOSTNAME}`)"
      - "traefik.http.routers.senaite.middlewares=senaite"
      - "traefik.http.middlewares.senaite.addprefix.prefix=/VirtualHostBase/https/${SENAITE_HOSTNAME}/senaite/VirtualHostRoot"
    networks:
      - ozone
      - web
    restart: unless-stopped
    volumes:
      - ${SENAITE_CONFIG_PATH}:/data/importdata/senaite
      - senaite-filestorage:/data/filestorage
      - senaite-blobstorage:/data/blobstorage

  # OpenMRS - SENAITE integration service
  eip-openmrs-senaite:
    depends_on:
      env-substitution:
        condition: service_completed_successfully
      openmrs:
        condition: service_healthy
      mysql:
        condition: service_started
      senaite:
        condition: service_started
    env_file: eip.env
    environment:
      - DB_EVENT_DESTINATIONS=${DB_EVENT_DESTINATIONS_SENAITE}
      - SENAITE_USERNAME=${SENAITE_ADMIN_USER}
      - SENAITE_PASSWORD=${SENAITE_ADMIN_PASSWORD}
      - EIP_DB_NAME=${EIP_DB_NAME_SENAITE}
      - EIP_DB_USER=${EIP_DB_USER_SENAITE}
      - EIP_DB_PASSWORD=${EIP_DB_PASSWORD_SENAITE}
      - BAHMNI_TEST_ORDER_TYPE_UUID=${BAHMNI_TEST_ORDER_TYPE_UUID}
      - SENAITE_URL=http://senaite:8080
    image: mekomsolutions/eip-client
    networks:
      ozone:
        aliases:
          - eip-client-senaite
    restart: unless-stopped
    volumes:
      - "${EIP_OPENMRS_SENAITE_PROPERTIES_PATH}:/config"
      - "${EIP_OPENMRS_SENAITE_ROUTES_PATH}:/routes"
      - eip-home-senaite:/eip-home

  mysql:
    environment:
      EIP_DB_NAME_SENAITE: ${EIP_DB_NAME_SENAITE}
      EIP_DB_USER_SENAITE: ${EIP_DB_USER_SENAITE}
      EIP_DB_PASSWORD_SENAITE: ${EIP_DB_PASSWORD_SENAITE}
    volumes:
      - "${SQL_SCRIPTS_PATH}/mysql/eip-openmrs-senaite:/docker-entrypoint-initdb.d/db/eip-openmrs-senaite"

    
  env-substitution:
    environment:
      - SENAITE_PUBLIC_URL=https://${SENAITE_HOSTNAME}

volumes:
  eip-home-senaite: ~
  senaite-blobstorage: ~
  senaite-filestorage: ~