services:

  # Odoo
  odoo:
    depends_on:
      postgresql:
        condition: service_healthy
    environment:
      - HOST=${POSTGRES_DB_HOST}
      - USER=${ODOO_DB_USER}
      - PASSWORD=${ODOO_DB_PASSWORD}
      - ADDONS=${ODOO_ADDONS}
      - INITIALIZER_DATA_FILES_PATH=/mnt/odoo_config
      - INITIALIZER_CONFIG_FILE_PATH=/mnt/odoo_config/initializer_config.json
    image: mekomsolutions/odoo
    labels:
      traefik.enable: true
      # https
      traefik.http.routers.odoo-https.rule: Host(`${ODOO_HOSTNAME}`)
      traefik.http.routers.odoo-https.entrypoints: websecure
      traefik.http.routers.odoo-https.service: odoo
      traefik.http.routers.odoo-https.middlewares: gzip,sslheader,limit
      #----------------------------- routes for: odoo/web/database || odoo/website/info  -----------------------------
      # https 
      traefik.http.routers.odoo-db-https.rule: Host(`${ODOO_HOSTNAME}`) && (PathPrefix(`/web/database`) || PathPrefix(`/website/info`))
      traefik.http.routers.odoo-db-https.entrypoints: websecure
      traefik.http.routers.odoo-db-https.service: odoo
      traefik.http.routers.odoo-db-https.middlewares: gzip,sslheader,limit
      traefik.http.services.odoo-db-https.loadbalancer.server.port: 8069
      #---------------------------------------- routes for: odoo/longpolling ------------------------------------------------
      # https 
      traefik.http.routers.odoo-im-https.rule: Host(`${ODOO_HOSTNAME}`) && (PathPrefix(`/longpolling`))
      traefik.http.routers.odoo-im-https.entrypoints: websecure
      traefik.http.routers.odoo-im-https.service: odoo-im
      traefik.http.routers.odoo-im-https.middlewares: gzip,sslheader,limit

      #====================================================== services ===========================================================
      traefik.http.services.odoo.loadbalancer.server.port: 8069
      traefik.http.services.odoo-im.loadbalancer.server.port: 8072

      #===================================================== middlewares =========================================================
      traefik.http.middlewares.gzip.compress: true
      traefik.http.middlewares.sslheader.headers.customrequestheaders.X-Forwarded-Proto: https
      traefik.http.middlewares.limit.buffering.memRequestBodyBytes: 20971520
      traefik.http.middlewares.limit.buffering.maxRequestBodyBytes: 20971520

      #=====================================================backup================================================================
      restic-compose-backup.volumes: true
      restic-compose-backup.volumes.include: "${ODOO_FILESTORE:-odoo-filestore},${ODOO_CONFIG_CHECKSUMS_PATH:-odoo-checksums}"
    networks:
      ozone:
        aliases:
         - odoo
      web:
    restart: unless-stopped
    volumes:
      - "${ODOO_FILESTORE:-odoo-filestore}:/var/lib/odoo/filestore"
      - "${ODOO_EXTRA_ADDONS:-odoo-extra-addons}:/mnt/extra-addons"
      - "${ODOO_CONFIG_PATH:-odoo-config}:/mnt/odoo_config"
      - "${ODOO_CONFIG_FILE_PATH:-odoo-config}:/etc/properties/odoo.conf"
      - "${ODOO_CONFIG_CHECKSUMS_PATH:-odoo-checksums}:/mnt/checksums"
    
  # Odoo - OpenMRS integration service
  eip-odoo-openmrs:
    depends_on:
      env-substitution:
        condition: service_completed_successfully
      openmrs:
        condition: service_healthy
      mysql:
        condition: service_started
      odoo:
        condition: service_started
    environment:
      - EIP_DB_NAME_ODOO=${EIP_DB_NAME_ODOO}
      - EIP_DB_USER_ODOO=${EIP_DB_USER_ODOO}
      - EIP_DB_PASSWORD_ODOO=${EIP_DB_PASSWORD_ODOO}
      - ODOO_DATABASE=${ODOO_DATABASE}
      - ODOO_USER=${ODOO_USER}
      - ODOO_PASSWORD=${ODOO_PASSWORD}
      - ODOO_URL=http://odoo:8069
      - OPENMRS_URL=http://openmrs:8080/openmrs
      - EIP_PROFILE=prod
      - MYSQL_ADMIN_USER=root
      - MYSQL_ADMIN_USER_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - OPENMRS_DB_HOST=${OPENMRS_DB_HOST}
      - OPENMRS_DB_PORT=${OPENMRS_DB_PORT}
      - OPENMRS_DB_NAME=${OPENMRS_DB_NAME}
      - OPENMRS_DB_USER=${OPENMRS_DB_USER}
      - OPENMRS_DB_PASSWORD=${OPENMRS_DB_PASSWORD}
      - OPENMRS_USER=${OPENMRS_USER}
      - OPENMRS_PASSWORD=${OPENMRS_PASSWORD}
      - EIP_FHIR_RESOURCES=Patient,ServiceRequest,MedicationRequest
      - EIP_FHIR_SERVER_URL=http://openmrs:8080/openmrs/ws/fhir2/R4
      - EIP_FHIR_USERNAME=${OPENMRS_USER}
      - EIP_FHIR_PASSWORD=${OPENMRS_PASSWORD}
      - EIP_TEST_ORDER_TYPE_UUID=${EIP_TEST_ORDER_TYPE_UUID}
      - EIP_ODOO_FHIR_SERVER_URL=${EIP_ODOO_FHIR_SERVER_URL}
      - EIP_ODOO_FHIR_USERNAME=${ODOO_USER}
      - EIP_ODOO_FHIR_PASSWORD=${ODOO_PASSWORD}
      - EIP_PRODUCT_SYNC_INITIAL_DELAY=${EIP_PRODUCT_SYNC_INITIAL_DELAY}
      - EIP_PRODUCT_SYNC_DELAY=${EIP_PRODUCT_SYNC_DELAY}
    image: mekomsolutions/eip-client
    networks:
      ozone:
        aliases:
          - eip-client-odoo
          - eip-odoo-openmrs
    restart: unless-stopped
    volumes:
      - "${EIP_ODOO_OPENMRS_ROUTES_PATH}:/eip-client/routes"
      - eip-home-odoo:/eip-home

  fhir-odoo:
    depends_on:
      env-substitution:
        condition: service_completed_successfully
      odoo:
        condition: service_started
    environment:
      - ODOO_HOST=http://odoo
      - ODOO_PORT=8069
      - ODOO_DATABASE=${ODOO_DATABASE}
      - EIP_ODOO_DRUGS_CATEGORY_EXT_ID=categ_products_drug_orders
    image: mekomsolutions/fhir-odoo
    labels:
      traefik.enable: "true"
      traefik.http.routers.fhir-erp.rule: "Host(`${FHIR_ODOO_HOSTNAME}`)"
      traefik.http.routers.fhir-erp.entrypoints: "websecure"
      traefik.http.services.fhir-erp.loadbalancer.server.port: 8080
    networks:
      web:
      ozone:
        aliases:
          - fhir-erp
          - fhir-odoo
          - odoo-fhir-facade
    restart: unless-stopped

  postgresql:
    environment:
      ODOO_DB_NAME: ${ODOO_DATABASE}
      ODOO_DB_USER: ${ODOO_DB_USER}
      ODOO_DB_PASSWORD: ${ODOO_DB_PASSWORD}
    volumes:
      - "${SQL_SCRIPTS_PATH}/postgresql/odoo:/docker-entrypoint-initdb.d/db/odoo"

  mysql:
    environment:
      EIP_DB_NAME_ODOO: ${EIP_DB_NAME_ODOO}
      EIP_DB_USER_ODOO: ${EIP_DB_USER_ODOO}
      EIP_DB_PASSWORD_ODOO: ${EIP_DB_PASSWORD_ODOO}
    volumes:
      - "${SQL_SCRIPTS_PATH}/mysql/eip-odoo-openmrs:/docker-entrypoint-initdb.d/db/eip-odoo-openmrs"

  env-substitution:
    environment:
      - ODOO_PUBLIC_URL=${SERVER_SCHEME}://${ODOO_HOSTNAME}
      - EXTERNAL_FHIR_API_URL=http://fhir-odoo:8080/odoo/fhir/R4
      - EXTERNAL_FHIR_API_USERNAME=${ODOO_USER}
      - EXTERNAL_FHIR_API_PASSWORD=${ODOO_PASSWORD}

volumes:
  eip-home-odoo: ~
  odoo-checksums: ~
  odoo-config: ~
  odoo-extra-addons: ~
  odoo-filestore: ~
  odoo-web-data: ~
