services:

  coturn:
    image: docker.io/coturn/coturn
    ports:
      - "3478:3478"
      - "3478:3478/udp"
      - "49152-49162:49152-49162/udp"
    command: "--fingerprint --lt-cred-mech"

  mediasoup:
    image: docker.io/iabsis/mediasoup-api
    environment:
      #- JWT_SECRET=Super3trong4ey$
      #- API_USER=abcd
      #- API_SECRET=1234
      #- ANNOUNCED_IP=192.168.1.10
      - RTC_MIN_PORT=40000
      - RTC_MAX_PORT=40010
      - LISTEN=3443
      - CERT=/usr/src/app/certs/sample.localhost.cert.pem
      - KEY=/usr/src/app/certs/sample.localhost.key.pem
      ## Redis server
      - REDIS_HOST=redis
    ports:
      - "3443:3443"
      - "40000-40010:40000-40010/tcp"
      - "40000-40010:40000-40010/udp"
    depends_on:
      - redis
    volumes:
      - ./data/certbot/:/etc/mediasoup-api/certs
    entrypoint: ["/bin/bash", "-c", "PUBLIC_IP=$(hostname -i) node server.js"]

  mongo:
    image: mongo:6
    #environment:
    #  - MONGO_INITDB_ROOT_USERNAME=mongo
    #  - MONGO_INITDB_ROOT_PASSWORD=mongo
    volumes:
      #  - ./conf.txt:/etc/mongod.conf
      - mongo-data:/data/db
    ports:
      - "27017:27017"

  patient:
    image: docker.io/iabsis/hcw-patient:5.3.24
    ports:
      - "4000:8080"#4080 for ssl
    environment:
      - BACKEND_URL=http://backend:1337
    depends_on:
      - mongo
      - backend

  doctor:
    image: docker.io/iabsis/hcw-doctor:5.3.37
    ports:
      - "4001:8081"#4081 for ssl
    environment:
      - BACKEND_URL=http://backend:1337
    depends_on:
      - mongo
      - backend
    #volumes:
    #  - ./nginx_doc.conf:/etc/nginx/conf.d/default.conf

  admin:
    image: docker.io/iabsis/hcw-admin:5.3.13
    ports:
      - "8002:8082"
    environment:
      - BACKEND_URL=http://backend:1337
    depends_on:
      - mongo
      - backend

  backend:
    image: docker.io/iabsis/hcw-backend:5.3.49
    ports:
      - "1337:1337"
    environment:
      - NODE_TLS_REJECT_UNAUTHORIZED=1
      - DB_URI=mongodb://mongo:27017/hcw-athome
      - REDIS_HOST=redis
      #- APP_SECRET=''
      - NODE_ENV=production
      - PUBLIC_URL=http://localhost:4000
      #- MAIL_SMTP_HOST=
      #- MAIL_SMTP_PORT=
      #- MAIL_SMTP_SECURE=true
      #- MAIL_SMTP_SENDER=
      #- MAIL_SMTP_USER=
      #- MAIL_SMTP_PASSWORD=
      - LOGIN_METHOD=password
      - DOCTOR_URL=http://localhost:4001
      - MEDIASOUP_URL=https://localhost:3443
      #- MEDIASOUP_USER=abcd
      #- MEDIASOUP_SECRET=1234
      - BRANDING=Ozone@Home
      - ACCESSIBILITY_MODE=false
      - ATTACHMENTS_DIR=/data/attachments

    depends_on:
      - mongo
      - redis
    volumes:
      - ./data/attachments:/data/attachments
    restart: unless-stopped

  redis:
    image: redis:8.4.0-bookworm

  eip-hcwathome-openmrs:
    image: mekomsolutions/eip-client
    environment:
      OPENMRS_BASE_URL: http://openmrs:8080/openmrs
      OPENMRS_USERNAME: ${OPENMRS_USER}
      OPENMRS_PASSWORD: ${OPENMRS_PASSWORD}
      OPENMRS_DB_HOST: ${OPENMRS_DB_HOST}
      OPENMRS_DB_PORT: ${OPENMRS_DB_PORT}
      OPENMRS_DB_NAME: ${OPENMRS_DB_NAME}
      OPENMRS_DB_USER: ${OPENMRS_DB_USER}
      OPENMRS_DB_PASSWORD: ${OPENMRS_DB_PASSWORD}
      #OAUTH_ENABLED: false
      EIP_DB_NAME: ${EIP_HCW_DB_NAME}
      EIP_DB_USER: ${EIP_HCW_DB_USER}
      EIP_DB_PASSWORD: ${EIP_HCW_DB_PASSWORD}
      EIP_DEBEZIUM_SERVER_ID: ${EIP_HCW_DEBEZIUM_SERVER_ID}
      EIP_DEBEZIUM_SERVER_NAME: eip_hcwathome_openmrs
      EIP_DEBEZIUM_USER: root
      EIP_DEBEZIUM_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      #EIP_LOGBACK_FILE: /eip-client/logback.xml
      DEBEZIUM_OFFSET_FILE: /eip-client/offset.txt
      DEBEZIUM_HISTORY_FILE: /eip-client/history.txt
      HCW_AT_HOME_BACKEND_URL: http://backend:1337
      HCW_AT_HOME_USER_EMAIL: ${HCW_BACKEND_USER_EMAIL}
      HCW_AT_HOME_PASSWORD: ${HCW_BACKEND_PASSWORD}
      OPENMRS_EMAIL_PERSON_ATTR_TYPE_UUID: ${OPENMRS_EMAIL_PERSON_ATTR_TYPE_UUID}
      OPENMRS_ENCOUNTER_TYPE_UUID: ${OPENMRS_ENCOUNTER_TYPE_UUID}
      EIP_FHIR_SERVER_URL: http://openmrs:8080/openmrs/ws/fhir2/R4
      EIP_FHIR_USERNAME: ${OPENMRS_USER}
      EIP_FHIR_PASSWORD: ${OPENMRS_PASSWORD}
      #LOG_LEVEL: DEBUG
      DEBEZIUM_EVENT_READER_INITIAL_DELAY: ${EIP_HCW_DEBEZIUM_EVENT_READER_INITIAL_DELAY}
      DEBEZIUM_EVENT_READER_DELAY: ${EIP_HCW_DEBEZIUM_EVENT_READER_DELAY}
      DEBEZIUM_EVENT_RETRY_INITIAL_DELAY: ${EIP_HCW_DEBEZIUM_EVENT_RETRY_INITIAL_DELAY}
      DEBEZIUM_EVENT_RETRY_DELAY: ${EIP_HCW_DEBEZIUM_EVENT_RETRY_DELAY}
      APPOINTMENTS_TASK_INITIAL_DELAY: ${EIP_HCW_APPOINTMENTS_TASK_INITIAL_DELAY}
      APPOINTMENTS_TASK_DELAY: ${EIP_HCW_APPOINTMENTS_TASK_DELAY}
    volumes:
      - "${EIP_HCW_OPENMRS_ROUTES_PATH}:/eip-client/routes"
    networks:
      web:
      ozone:
        aliases:
          - eip-hcwathome-openmrs

volumes:
  mongo-data: ~
