services:

  # Nginx - Entry point for the application.
  proxy:
    environment:
      - SENAITE_GITPOD_HTTPS_REWRITE=${SENAITE_GITPOD_HTTPS_REWRITE}

    restart: unless-stopped
    build:
      context: ./
      args:
        TIMEZONE: "${TIMEZONE}"
    healthcheck:
      test:
        - CMD
        - curl
        - "-f"
        - "http://localhost/"
    networks:
      ozone:
    ports:
      - "${PROXY_PUBLIC_PORT:-80}:80"
      - "8069:8069"
      - "8081:8081"
      - "8088:8088"
    volumes:
      - "./confs:/usr/local/apache2/conf/extra"
      - "${PROXY_TLS_CERTS_PATH:-proxy-tls-certs}:/etc/tls"

volumes:
  proxy-tls-certs: ~

networks:
  ozone:
  web:
    external: true